.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.list li {
  font-size: larger;;
  padding: 0.5rem 1rem;
  margin: 0 0 10px;
}

.list li:hover {
  cursor: pointer;
}

.list li:hover::after {
  content: " \00BB"
}
