.entry {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 25%;
  margin: 2rem;
  color: var(--light);
}

.backButton {
  margin: 0 1.5rem;
  border: 1px solid var(--yellow);
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
